*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.headbar{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 808px;
    text-align: right;
}

.header-content{

    padding: 260px 200px ;
}

.header-content>h1{
    margin-bottom: 15px;
    color:  #151414;
    font-family: Work Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-content>p{
    margin-bottom: 15px;
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.header-content>button{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    width: 120px;
    height: 44px;
    border-radius: 5px;
    background: #F15B22;
}



/* main starts */

main{
    margin-top: 150px;
}
.bullet-contents{
    display: flex;
}
.bullet-contents>p{
    margin-left: 5px;
}

.regret-content{
    display: flex;
}

.content{
    margin-top: 140px;
    margin-left: 200px;
}

.content>h1,p,.bullet-contents{
    margin-top: 10px;
}


.content>h1{
    color:  #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bullet-contents>p{
    text-align: center;
    margin-top: 1px;
}

.content>p{
    color:  #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.regret-content>.image{
    padding-left: 200px;
}

.regret-content>.image>img{
    width: 451px;
    height: 600px;
    flex-shrink: 0;
}

/* plans section */

.plans{
    display: flex;
    justify-content: center;
}

.plan-details{
    margin: 0 60px;
    text-align: center;
}

.plan-details>img{
    width: 92px;
    height: 92px;
    flex-shrink: 0;
}

.plan-details>h1{
    padding-top: 15px;
    text-align: center;
    color:  #151414;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-details>p{
    text-align: center;
    color:  #151414;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.target-section>h1{
    text-align: center;
    
    margin-bottom: 40px;
}
.target-section{
    margin-top: 150px;
}


/* gradient */

.special-background{
    position: relative;
    top: 135px;
    left: 180px;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 300px;
    width: 1140px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../images/watch.png');
}

.special-content>h1{
    position: relative;
    top: 55px;
    left: 50px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.special-content>button{
    position: relative;
    top: 90px;
    left: 50px;
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    width: 120px;
    height: 44px;
    border-radius: 5px;
    background: #FFF;
}

/* footer */

footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 130px;
    margin-top: 20%;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    background:  #151414;
}


.footer-content>h1{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-content>p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.footer-icons{
    display: flex;
}
.footer-icons>img{
    margin-top: 25px;
    margin-right: 25px;
}


/* subscribe */

.subscribe>h1{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subscribe>input{
    color:  #F3F3F3;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    width: 300px;
    height: 44px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background: #151414;

    /* padding margin */
    margin: 25px 0;

}
::placeholder{
    padding-left: 15px;
}

.subscribe>button{
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    width: 120px;
    height: 44px;
    border-radius: 5px;
    background: #FFF;
}


